<%= render 'shared/dashboard' %>

<!-- Page content holder -->
<div class="page-content" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

  <!-- Demo content -->
  <h2 class="display-4 text-white">Dashboard</h2>
  <p class="lead text-white mb-0">Synthèse de votre activité sur notre plateforme 😇 </p>

  <div class="separator"></div>

    <div class="col-lg-12 dashboard-cards top-container">
      <div class="top-in-card">
       <!--  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
        <div id="circle-container"></div> -->
        <div id="circle-container">
        <p class="percentage"><strong>0<span>%</span></strong></p>
        </div>
        <p class="top-in-card-text"><em>du projet</em></p>
        <p class="top-in-card-text"><em>en cours</em></p>
      </div>
      <div class="vertical-separator"></div>
       <div class="top-in-card">
        <p class="top-in-card-title"><strong><%= current_user.projects.count %></strong></p>
        <p class="top-in-card-text"><em>Projets terminés</em></p>
        <p class="top-in-card-text"><em>avec succes !</em></p>
      </div>
      <div class="vertical-separator"></div>
       <div class="top-in-card">
        <p class="top-in-card-title"><strong>10</strong></p>
        <p class="top-in-card-text"><em>Collaborateurs</em></p>
      </div>
    </div>

    <div class="col-lg-12 dashboard-cards-map">
      <h1>Mes collaborateurs</h1>
      <p>Tout ceux qui m'aident.</p>
      <div class="d-flex justify-content-between dashboard-cards-map">
        <div id="map"
             style="width: 100%; height: 600px;"
             data-markers="<%= @markers.to_json %>"
             data-center="<%= @marker_center.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <div class="col-lg-6 dashboard-cards text-align-center">
        <% @friends.each do |friend| %>
          <div class=dashboard-card-friends>
         <% if friend.photo.present? %>
          <%= image_tag friend.photo, class: "avatar-friend" %>
         <% end %>
         <div class="friend-card-text ">
            <div class="friend-name">
              <h2> <strong><%=friend.first_name.capitalize %> </strong></p>
            </div>
             <div class="friend-title">
              <p> Couturier de <%=friend.offers.last.product.product_type%> </p>
            </div>
          </div>

          <div class=friend-contact-icon>
            <i class="far fa-edit"></i>
          </div>

        </div>
      <% end %>
      </div>
    </div>


</div>
