<div class="banner-home-page" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(<%= image_path "banner.jpg" %>)">

  <div class="container-banner">


    <%= image_tag "defilenaigiuille1b.svg", class: "homepage-title" %>
    <p>Des masques et des blouses produits par les couturiers autour de vous</p>


  <div class="search-bar-home">
    <%= form_tag offers_path, method: :get do |f| %>
      <div class="input-group">
            <%= text_field_tag :address,
              params[:address],
              placeholder: "Votre adresse",
              class: "form-control",
              id: "search"
            %>
            <%= hidden_field_tag :radius,
              params[:radius],
              value: 20
            %>

            <%= select_tag "product",
            options_from_collection_for_select(@products, "id", "product_type", params[:product]),
            prompt: "Choissisez votre produit",
            class: "select2",
            id: "product-search-bar"
            %>

          <div class="input-button">
            <%= submit_tag "Rechercher", class: "btn btn-primary btn-home-page" %>
          </div>
      </div>
    <% end %>
  </div>




  </div>
</div>



<center>
  <div class="row">
    <div class="my-home-container">
      <div class="grid-home">

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "search.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Trouvez</h1>
                  <p class="card-home-text">Effectuez une recherche <strong>simple et rapide</strong> et découvrer les couturiers près de chez vous</p>
                </div>
              </div>
            </div>

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "think.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Échangez</h1>
                  <p class="card-home-text">Sur notre plateforme et organisez une rencontre <strong>en toute sécurité</strong></p>
                </div>
              </div>
            </div>

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "friend.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Aidez</h1>
                  <p class="card-home-text">Les personnes et organisations dans le besoin <strong>autour de vous</strong></p>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</center>

</div>

