<div class="banner-home-page" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(<%= image_path "banner.jpg" %>)">
  <div class="container-banner">
    <center>
    <h1>Rencontrez des vendeurs et acheteurs <strong>près de chez vous</strong> en <strong>toute sécurité</strong></h1>
    <p>Fil en Aiguille est une plateforme de mise en relation </p>

<div class="search-bar">
    <%= form_tag offers_path, method: :get do |f| %>
      <div class="input-group ">
            <%= text_field_tag :address,
              params[:address],
              placeholder: "Indiquez votre adresse",
              class: "form-control",
              id: "search"
            %>
            <%= hidden_field_tag :radius,
              params[:radius],
              value: 20
            %>

            <%= hidden_field_tag :product,
              params[:product],
              value: 1
          %>

          <div class="input-group-append-homepage">
            <%= submit_tag "Search", class: "btn btn-primary btn-lg button-search-bar" %>
          </div>

      </div>
    <% end %>
  </div>

   </center>

  </div>

</div>



<center>
  <div class="row">
    <div class="my-home-container">
      <div class="grid-home">

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "search.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Recherchez</h1>
                  <p class="card-home-text">Effectuez une recherche <strong>simple et rapide</strong> et découvrez les près de chez vous</p>
                </div>
              </div>
            </div>

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "think.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Échangez</h1>
                  <p class="card-home-text">Sur notre chat en ligne, et organisez une rencontre <strong>en toute sécurité</strong></p>
                </div>
              </div>
            </div>

            <div class="home-item">
              <div class="card-home">
                <%= image_tag "friend.svg", class: "card-home-img" %>
                <div class="card-home-content">
                  <h1 class="card-home-header">Rencontrez</h1>
                  <p class="card-home-text">Les vendeurs et acheteurs près de chez vous,et <strong>finalisez</strong> votre transaction</p>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</center>

</div>



