<div class="container">
  <div class="row">
    <div class="col-6 title">
      <%= simple_form_for @project do |f| %>
        <%= f.association :product, label_method: lambda { |product| product.product_type.capitalize } %>
        <%= f.input :quantity %>
        <%= f.input :deadline %>
        <%= f.submit class: 'btn btn-primary'%>
        <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>
