<div class="container">
  <div class="row m-3 justify-content-center">
    <h1>Mon projet</h1>
  </div>

    <hr>

  <div class="row pt-3">
    <div class="recap_project col-6">
      <h5>Récapitulatif du besoin</h5>
      <%= simple_form_for @project do |f| %>
        <%= f.association :product,
          collection: Product.all.map {|product| product.product_type.capitalize},
          input_html: {value: f.object.product || @project.product } %>
        <%= f.input :quantity, input_html: {value: f.object.quantity || @project.quantity } %>
        <%= f.label "j'ai une deadline", class: "btn-outline-primary", id: "btn-project-datepicker" %>
        <div class="d-none" id="project-deadline">
          <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <!-- add notion of stocks -->
        <p>blablabla sur les stocks</p>
        <div class="submit-project mb-1">
          <%= f.submit class: 'btn btn-primary'%>
          <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>

    <!-- display le recap si et seulement si des personnes sont dispos -->
    <div class="recap_collab col-6">
      <h5>En créant votre projet, vous sollicitez leur aide</h5>
      <div class="list-group">
        <li href="#" class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-small", alt: "avatar" %> Name</h5>
            <small>Prix unité</small>
          </div>
          <p class="mb-1"><%= image_tag "https://image.flaticon.com/icons/svg/2947/2947803.svg", width: "5%", alt: "masque" %><%= " qté" %></p>
          <p class="mb-1">Adresse : 3 rue du tertre, 75003 Paris</p>
          <small>Details.</small>
        </li>
        <li href="#" class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-small", alt: "avatar" %> Name</h5>
            <small>Prix unité</small>
          </div>
          <p class="mb-1"><%= image_tag "https://image.flaticon.com/icons/png/512/2246/2246297.png", width: "5%", alt: "blouse" %><%= " qté" %></p>
          <p class="mb-1">Adresse : 3 rue du tertre, 75003 Paris</p>
          <small>Details.</small>
        </li>
      </div>
    </div>
  </div>
</div>
