<div class="container">
  <div class="row m-3 justify-content-center">
    <h1>Mon projet</h1>
  </div>

    <hr>

  <div class="row pt-3">
    <div class="recap_project col-6">
      <h5>Récapitulatif du besoin</h5>
      <%= simple_form_for @project do |f| %>
        <%= f.association :product,
          label_method: lambda { |product| product.product_type.capitalize },
          value: f.object.product.product_type.capitalize || @project.product.product_type.capitalize %>
        <%= f.input :quantity, input_html: {value: f.object.quantity || @project.quantity } %>
        <%= f.input :budget, input_html: {value: f.object.budget || @project.budget } %>
        <%= f.label "j'ai une deadline", class: "btn-outline-primary", id: "btn-project-datepicker" %>
        <div class="d-none" id="project-deadline">
          <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>

        <!-- add notion of stocks -->

        <p>
          <%= image_tag "real-estate.svg", width: "5%", alt: "autre" %>
          Mon adresse :
        </p>
        <%= current_user.address %>
    </div>

              <% if @offers.present? %>
                <div class="recap_collab col-6">

          <%= simple_fields_for :matches do |m| %>

            <fieldset class="form-group check_boxes required matches_offer_ids">
              <legend class="col-form-label pt-0">Sollicitez leur aide<abbr title="required">*</abbr></legend>

              <input type="hidden" name="matches[offer_ids][]" value="">


                    <div class="list-group">

                      <% @offers.each do |offer| %>

                        <div class="form-check">
                          <input class="form-check-input check_boxes required d-none" type="checkbox" value="<%= offer.id %>" name="matches[offer_ids][]" id="matches_offer_ids_<%= offer.id %>">
                          <label class="form-check-label collection_check_boxes" for="matches_offer_ids_<%= offer.id %>">
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%= image_tag offer.user.photo, class: "avatar-small", alt: "avatar" %> <%= "#{offer.user.nickname}" %></h5>
                                <small>
                                  <%= m.input :match_quantity,
                                              input_html: {
                                                value: offer.quantity,
                                                name: "matches[match_quantity_offer_#{offer.id}]",
                                                id: "match_quantity_offer_#{offer.id}"
                                              } %>
                                </small>
                              </div>
                              <p class="mb-1">
                                <strong><%= "propose #{offer.quantity}" %>
                                <% if offer.product.product_type == "masque" %>
                                  <%= image_tag "https://image.flaticon.com/icons/svg/2947/2947803.svg", width: "5%", alt: "masque" %>
                                <% elsif offer.product.product_type == "blouse" %>
                                  <%= image_tag "https://image.flaticon.com/icons/png/512/2246/2246297.png", width: "5%", alt: "blouse" %>
                                <% else %>
                                  <%= image_tag "crochet.svg", width: "5%", alt: "autre" %>
                                <% end %>
                                <%= " à #{offer.price} €/unité" %></strong>
                              </p>
                              <p class="mb-1"><%= offer.description.capitalize %></p>
                              <small><%= offer.user.address %></small>
                            </li>
                          </label>
                        </div>

                      <% end %>

                    </div>
          <% end %>


            </fieldset>

          <% end %>
      </div>

      <div class="row col-12 justify-content-center">
        <div class="submit-project mt-3 mb-1">
          <%= f.submit class: 'btn btn-primary' %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary" %>
        </div>
      </div>
    <% end %>

  </div>

</div>
