<div class="container-show-project-yannis">
  <div class="card-show-project">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Récapitulatif</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Collaborateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Mes projets</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active align-content-tab" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h5>Récapitulatif du besoin</h5>

        <p class="mb-1">
          <% if @project.product.product_type == "masque" %>
            <%= image_tag "https://image.flaticon.com/icons/svg/2947/2947803.svg", width: "3%", alt: "masque" %>
          <% elsif @project.product.product_type == "blouse" %>
            <%= image_tag "https://image.flaticon.com/icons/png/512/2246/2246297.png", width: "3%", alt: "blouse" %>
          <% else %>
            <%= image_tag "crochet.svg", width: "3%", alt: "autre" %>
          <% end %>
          <strong><%= " x #{@project.quantity}" %></strong>
        </p>

        <p>Mon budget : <br><%= @project.budget %><%= "€" %></p>
        <p>Mon adresse : <br><%= @project.user.address %></p>
        <% if @project.deadline.present? %>
          <p>Deadline : <%= @project.deadline %></p>
        <% else %>
          <p>Deadline : --</p>
        <% end %>
        <div class= "edit-project-buttons pt-3">
          <% if policy(@project).update? %>
            <%= link_to 'Editer', edit_project_path(@project), class: "btn btn-outline-primary" %>
          <% end %>
          <% if policy(@project).destroy? %>
            <%= link_to "Supprimer",
                project_path(@project),
                method: :delete,
                data: { confirm: 'Voulez-vous supprimer le projet ?' },
                class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade align-content-tab" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% @matches.each do |match|%>
            <div class="card-product">
              <div class="left-content-project-card">
                <img src=<%= match.offer.user.photo %> />
                <div class="card-product-infos">
                  <div class="desc">
                    <div class="mask-maker-name-and-level">
                      <span class="badge badge-pill badge-info"><%= match.offer.user.level %></span>
                      <h2><%= "#{match.offer.user.first_name.capitalize}  " %></h2>

                    </div>
                    <p><%= match.offer.quantity %> <%= @project.product.product_type.capitalize %></p>
                  </div>
                </div>
              </div>
              <div class="right-content-project-card">
                <div class="product-status">
                  <% if match.status == "terminé" %>
                  <div class="green-badge"></div>
                  <span><em>Commande Livrée</em></span>
                  <% else %>
                  <div class="orange-badge"></div>
                  <span><em>Commande en cours </em></span>
                  <% end %>
                </div>
                <div class="chat-icon">
                  <%= link_to edit_project_path do %>
                    <%= image_tag "message.svg", style:"width:8%", alt: "chat-icon" %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="tab-pane fade align-content-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <% @user_projects.each do |project|%>
          <div class="card-product">
            <div class="left-content-project-card">
              <div class="card-product-infos">
                <div class="desc">
                  <h2><%= link_to 'Projet', project_path(project) %></h2>
                  <p>Quantité : <%= project.quantity %> <%= project.product.product_type.capitalize %>s</p>
                  <p>Deadline : <%= project.deadline %></p>
                </div>
              </div>
            </div>
            <div class="right-content-project-card">
              <div class="product-status">
                <% if project.status == "terminé" %>
                <div class="green-badge"></div>
                <span><em>Projet terminé</em></span>
                <% else %>
                <div class="orange-badge"></div>
                <span><em>Projet en cours</em></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
