
<div class="content-card-pop-up <%= 'card-grey' if offer.quantity == 0 %>" >
  <%= image_tag offer.user.photo, class: "avatar", alt: "avatar" %>
  <div class="name-text">
    <h2><%= offer.user.first_name.capitalize %> <%= offer.user.last_name.first.capitalize %>. </h2>
  </div>
  <span class="badge badge-pill badge-info"> <%= offer.user.level %></span>


  <div class="description-text">
      <p>Description - <%= offer.description %></p>
  </div>

  <div class="stock-text">
    <% if offer.product.product_type == "masque" && offer.quantity.to_i > 1 %>
        <p> Stock - <strong> <%= offer.quantity %> </strong> <%= offer.product.product_type  %>s </p>
        <%= image_tag "https://image.flaticon.com/icons/svg/2947/2947803.svg", class: "masque", alt: "masque" %>
    <% elsif offer.product.product_type == "masque" && offer.quantity.to_i <= 1%>
        <p> Stock - <strong> <%= offer.quantity %> </strong><%= offer.product.product_type  %> </p>
        <%= image_tag "https://image.flaticon.com/icons/svg/2947/2947803.svg", class: "masque", alt: "masque" %>
    <% elsif offer.product.product_type == "blouse" && offer.quantity.to_i > 1 %>
        <p> Stock - <strong> <%= offer.quantity %> </strong> <%= offer.product.product_type  %>s </p>
        <%= image_tag "https://image.flaticon.com/icons/png/512/2246/2246297.png", class: "blouse", alt: "blouse" %>
    <% elsif offer.product.product_type == "blouse" && offer.quantity.to_i <= 1  %>
        <p> Stock - <strong> <%= offer.quantity %> </strong><%= offer.product.product_type  %>  </p>
        <%= image_tag "https://image.flaticon.com/icons/png/512/2246/2246297.png", class: "blouse", alt: "blouse" %>
    <% elsif offer.product.product_type == "calot" && offer.quantity.to_i > 1  %>
        <p> Stock - <strong> <%= offer.quantity %> </strong> <%= offer.product.product_type  %>s </p>
    <% else %>
        <p> Stock - <strong> <%= offer.quantity %> </strong> <%= offer.product.product_type  %>  </p>
    <% end %>
  </div>


  <div class="price-text">
    <% if offer.price.to_i > 0 %>
      <p>Prix - <strong> <%= offer.price %> €</strong> par unité </p>
    <% else %>
      <p> Gratuit </p>
    <% end %>
  </div>

  <div class="contact-button">
  <%= link_to "Contact", offers_path %>
  </div>
</div>
