  <div class="search-bar">
    <%= form_tag offers_path, method: :get do |f| %>
        <div class="input-group">

            <%= text_field_tag :address,
              params[:address],
              placeholder: "Adresse",
              class: "form-control",
              id: "address-search-bar"
            %>
            <%= number_field_tag :radius,
              params[:radius],
              placeholder: "Rayon de recherche (km)",
              min: 1,
              max: 20,
              class: "form-control",
              id: "radius-search-bar"
            %>

            <%= select_tag "product",
            options_from_collection_for_select(@products, "id", "product_type", params[:product]),
            prompt: "Choisissez votre produit",
            class: "select2",
            id: "product-search-bar"
          %>

            <%= number_field_tag :quantity,
              params[:quantity],
              placeholder: "Quantité",
              min: 1,
              max: 200,
              class: "form-control",
              id: "quantity-search-bar"
            %>

            <%= number_field_tag :price,
              params[:price],
              placeholder: "Budget Maximum",
              min: 1,
              max: 20,
              class: "form-control",
              id: "price-search-bar"
            %>

            <div class="input-group-append">
            <%= submit_tag "Search", class: " btn btn-primary" %>
          </div>

      </div>
    <% end %>
  </div>


  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-center="<%= @marker_center.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<% if @product.present? %>
  <div class="call-to-action text-align-center">

        <% if @stock >= params[:quantity].to_i &&  @stock== 1 %>
          <p> <strong> <%= @stock%> </strong> <%= @product.product_type %> disponible. Bonne nouvelle, il y a assez de <%= @product.product_type  %> disponible autour de vous!</p>
          <%= link_to "Commander", new_project_path, class: "btn btn-primary" %>
        <% elsif @stock >= params[:quantity].to_i && @stock > 1 %>
         <p> <strong> <%= @stock%> </strong> <%= @product.product_type %>s disponibles. Bonne nouvelle, il y a assez de <%= @product.product_type  %> disponible autour de vous!</p>
        <%= link_to "Commander", new_project_path, class: "btn btn-primary btn-call" %>
        <% else %>
          <p><strong> <%= @stock%> </strong> <%= @product.product_type %>s disponibles. Il n'y a pas sufisamment de <%= @product.product_type  %>s disponibles autour de vous, cliquez ici pour demander de l'aide autour de vous!</p>
          <%= link_to "Créer un projet", new_project_path, class: "btn btn-primary btn-call" %>
        <% end %>
  </div>
 <% end %>

