<!DOCTYPE html>
<html>
  <head>
    <title>Filenaiguille</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body class="<%= "home" if params[:action] == "home" %>">
    <% unless params[:controller] == "pages" && params[:action] == "dashboard" %>

    <%= render 'shared/navbar' %>
    <% end %>
    <div id="main-content">
      <%= yield %>
    </div>
    <%= render 'shared/flashes' %>
    <% unless (params[:controller] == "offers" && params[:action] == "index") || (params[:controller] == "projects" && params[:action] == "show") || (params[:controller] == "pages" && params[:action] == "dashboard") %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
